@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #dc2626; /* Red-600 */
  --color-primary-dark: #b91c1c; /* Red-700 */
}

@layer base {
  body {
    @apply font-sans text-gray-900 bg-gray-50;
  }
}
